﻿@model List<Dev.Test.ShowData.Models.AllDetails>

@foreach (var details in Model)
{
    <ul><b>@details.Gender</b></ul>
    foreach (var petDetail in details.Name)
    {
        <ul style="margin-left:30px">@petDetail</ul>
    }

}